<header>
  <nav>
    <h1>Leaf Blogs</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/user">Profile</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>
