<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <div class="about-container">
      <h2>About</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. A unde minima
        nulla illo soluta provident saepe aspernatur molestias quas nobis alias
        magni, dicta necessitatibus dignissimos quis labore. Voluptate, officia
        ipsum? Eos ducimus ratione praesentium amet, enim ullam voluptate
        doloribus modi libero recusandae numquam nostrum, cum temporibus impedit
        eius fuga corporis accusamus corrupti vero quidem.
      </p>
      <p>
        A cool CRUD application made with expressjs and nodejs. Frontend
        implemented using views.
        <br />Developed by Arjun Haridas. <br />
        Email- arjunharidasofficial@gmail.com
      </p>
    </div>
    <%- include('./partials/footer2.ejs') %>
  </body>
</html>
