<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <h2 id="leaf-title"><%= blog.title %></h2>
    <br />
    <p id="leaf-body"><%= blog.content %></p>
  </body>
</html>
