<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <h1 id="unauth-h">
      Unautherized !
      <p id="unauth-p">Please <a href="/user">login</a> again</p>
    </h1>
    <%- include('./partials/footer2.ejs') %>
  </body>
</html>
